* {
  box-sizing: border-box;
  position: relative;
}

body {
  direction: rtl;
  margin: 0;
  font-family: 'Vazirmatn';
}

main {
  inline-size: 100vmax;
  block-size: 320px;
  padding-block-start: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('wallpaper.jpg');
  background-size: 101%;
  background-position: left -15px bottom -270px;
}

form {
  block-size: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-block: 90px;
  font-size: 32px;
  color: white;
}

svg {
  transform: translateY(77.5px);
}

fieldset {
  max-inline-size: 250px;
  block-size: 50px;
  flex-grow: 0;
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  border-block-end: 1px solid white;
}

input {
  inline-size: 450px;
  block-size: 50px;
  margin: 0;
  padding-inline: 8px;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: inherit;
  color: inherit;
}

label {
  position: absolute;
  right: 0;
  opacity: 0.7;
  font-weight: 200;
  pointer-events: none;
  transition: 200ms transform ease;
}

input:where(:focus, :valid)~label {
  transform-origin: center bottom;
  transform: translateY(-50px) scale(0.7);
}